/*  This stylesheet is made specifically
    for the user's individual tickets
*/


.ticket-content-container{
  margin-top: 10px;
}

.ticket-info-header-text{
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 0.95em;
  color: #2C35E4;
  margin-bottom: 0;
}

.user-ticket-ticketId{
  font-weight: 700;
  font-size: 1em;
}

.faq-ticket-text, .faq-ticket-button{
  display: inline-block;
  float: none;
  vertical-align: middle;
  padding-top: 20px;
}

/*Collapsible panel styles*/
.panel.panel-default{
  border-radius: 0px;
  border-top: 0px;
}

.panel-default>.panel-heading, .panel-default>.panel-heading>.panel-title {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 0px;
}

.panel-default>.panel-heading:hover {
  background: #fff;
}

.panel-default>.panel-heading{
  background: rgb(251,251,251);
  border-radius: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 2px solid black;
}

.panel-body{
    border-top: 2px solid black;
}

.individual-ticket-info-row{
  margin-bottom: 10px;
}

.panel-body, .panel-comment, .panel-comment>a{
  font-family: "Karla", sans-serif;
}

.panel-comment>.ticket-info-header-text{
  color: black;
  margin-bottom: 5px;
}
.panel-comment>a, .panel-body>a{
  text-decoration: underline;
  font-family: inherit;
  color: #2C35E4;
}

.panel-comment textarea{
  resize: vertical;
}

.add-reply-button{
  margin-top: 10px;
  margin-bottom: 20px;
}

p.reply-header{
  font-size: 0.85em;


}

/* Status */
.status {
  display: block;
  padding-top: 6px;
  width: 120px;
  height: 35px;
  color: #fff;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 100px;
  font-size: 0.9em;
  vertical-align: middle;
}

.status-resolved {
  background-color: #19C37F;
  border: 1px solid #19C37F;
}

.status-unresolved {
  background-color: #d9534f;
  border: 1px solid #d43f3a;
}

.status-in-progress {
  background-color: #337ab7;
  border: 1px solid #2e6da4;

}

.status-pending {
  background-color: #ffc82b;
  border: 1px solid #ffc82b;
  color: black;
}

.fa-statusTag{
  margin-right: 10px;
  font-size: 12px;
  vertical-align: middle;
  color: #f6f6f6;
}

.error{
  color: #D0021B;
}

button.btn-closeBtn{
  padding: 6px 20px;
  background-color: transparent;
  border-color: #525252;
  border-radius: 3.5px;
  color: #525252;
}

button.btn-closeBtn:hover{
  background-color: #D0021B;
  border-color: #D0021B;
  color: white;
}

#closeBtn-icon{
  margin-right: 10px;
  color: #525252;
}

.reply-separator{
  margin: 0;
  float: none;
}
.new-reply-container{
  background: white;
  padding: 20px 0 20px 0;
}

.new-reply-container:last-child{
  padding-bottom: 0;
}

.new-reply-container p{
  padding-left: 15px;
}
