/*Report an Issue*/
#report-issue, .text-description {
    margin-top: 30px;
}

/*This will control the style of form validation errors*/
.error {
    color: #D0021B;
}

/* Submission */
.user-responses {
    display: block;
    border: 1px solid red;
    background-color: #fff;
    min-height: 300px;
    border-top: 2px solid #000;
}

.receipt-ticketIdRow{
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
}

.receipt-ticketNameRow{
  padding-top: 15px;
}

#submitted{
  margin-top: 15px;
}
