/*Report an Issue*/
#report-issue, .text-description {
    margin-top: 30px;
}

/* THIS DIV DISABLES THE ENTIRE FORM ON MOBILE!!!!! */
/* @JACQUELINE */
/*.contained {
    display: block;
    float: left;
    width: 100%;
}*/

/*This will control the style of form validation errors*/
.error {
    color: #D0021B;
}
